<h1>Order Details: </h1>

<h2>@Model.["order"].Title</h2>
<h2>Vendor: @Model["vendor"].Name</h2>

<a href='vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/orders'>View all orders</a>