<h1>Add an Order</h1>
<p>Add an Order here:</p>

<form action="/orders" method="post">
  <label for="orderTitle">Title:</label>
  <input id="orderTitle" name="orderTitle" type="text">

  <label for="orderDescription">Description:</label>
  <input id="orderDescription" name="orderDescription" type="text">

  <label for="orderPrice">Price:</label>
  <input id="orderPrice" name="orderPrice" type="text">
  
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/vendors">Back to Vendor.</a></p>